.address
  background: url("../../img/address/address-bg.png") no-repeat center / cover

.address-block
  text-align: center
  &__text
    font-size: 18px

  &__phone
    +ProximaNovaExtrabold
    font-size: 24px