.advantages
  padding: 100px 0
  background-color: $bgBlue
  color: #fff

  &__title
    +ProximaNovaBlack
    font-size: 36px
    margin-bottom: 30px

  &__description
    font-size: 20px
    margin-bottom: 100px

.advantages-item
  &__image
    width: 100px
    height: 100px
    margin-bottom: 50px

  &__text
    text-align: center
    font-size: 18px