.advantages
  padding: 100px 0
  background-color: $bgBlue
  color: #fff

.advantages-item
  &__image
    width: 100px
    height: 100px
    margin-bottom: 50px

  &__text
    text-align: center
    font-size: 18px