.bonus
  color: #ffffff
  padding: 100px 0
  background-color: $bgBlue

  & .section__title
    margin-bottom: 100px

.bonus-item
  text-align: center

  &__icon
    font-size: 30px
    +ProximaNovaBold
    text-align: center
    line-height: 100px
    width: 100px
    height: 100px
    border-radius: 50px
    border: 2px solid white
    margin-bottom: 40px

  &__text
    font-size: 18px