.detail
  color: #fff
  padding: 100px 0
  background: $bgBlue url("../../img/detail/detail-bg.png") no-repeat center / cover

  & .form-group__button
    background-color: $orangeColor
    +buttonHover($btnBlueColor)

  & .section__description
    margin-bottom: 60px

  &-form
    margin-bottom: 60px

.detail-phone
  text-align: center

  &__head
    margin-bottom: 30px

  &__number
    +ProximaNovaExtrabold
