.footer
  padding: 40px 0
  background-color: $bgBlack

.footer-call
  color: #fff
  &__text
    font-size: 13px
  &__phone
    font-size: 18px
    +ProximaNovaBlack


@include media-breakpoint-down(xs)
  .footer-logo
    margin-bottom: 15px

