.price
  background: url("../../img/price/price-truck.png") no-repeat left / cover
  padding: 100px 0

  &__title
    text-align: end
    +ProximaNovaBlack
    font-size: 30px
    margin-bottom: 60px
    //margin-right: 20px

  &-form
    text-align: end

.form-group
  margin-bottom: 30px

  & input
    font-size: 13px
    padding: 30px 30px
    width: 340px
    height: 70px
    background-color: $inputBgColor
    color: $inputTextColor
    border: none

    &:first-child
      margin-right: 20px

  &__image
    margin: 0 20px

  & p
    +ProximaNovaRegular
    font-size: 14px
    margin: 0

  &__button
    //margin-right: 20px
    width: 340px
    height: 70px
    +ProximaNovaBold
    font-size: 17px
    border-radius: 0
    background-color: $btnBlueColor
    color: #fff
    border: none
